aenum==3.1.0
ansible==4.7.0
ansible-core==2.11.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cryptography==35.0.0
dicttoxml==1.7.4
idna==3.3
Jinja2==3.0.2
lxml==4.6.3
MarkupSafe==2.0.1
packaging==21.0
pycparser==2.20
pyone==6.0.3
pyparsing==3.0.2
PyYAML==6.0
requests==2.26.0
resolvelib==0.5.4
six==1.16.0
tblib==1.7.0
urllib3==1.26.7
xmltodict==0.12.0
